[%
# sequences_tab.tt
# jt6 20120807 WTSI
#
# build the inner tab showing Rfamseq sequences
#
# $Id$

META naked = 1;

USE Number.Format( THOUSANDS_SEP = "," );
%]

<h3>Quick actions</h3>

<div class="bootstrap-wrapper">
  <div class="btn-toolbar" role="toolbar" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="btn-group" role="group">
      <button onclick="location.href='http://ftp.ebi.ac.uk/pub/databases/Rfam/CURRENT/fasta_files/[% rfam.rfam_acc %].fa.gz'" type="button" class="btn btn-default help" title="FASTA format">
         <i class="fa fa-download" aria-hidden="true"></i> Download all sequences
       </button>
       [% IF rfam.num_full < limits.showText %]
       <button onclick="location.href='[% c.uri_for( '/family', acc, 'regions' ) %]'" type="button" class="btn btn-default help" title="TSV format">
          <i class="fa fa-download" aria-hidden="true"></i> Download table
        </button>
        [% END %]
    </div>
    <div class="btn-group" role="group">
      <button onclick="location.href='/search?q=[% rfam.rfam_acc %]%20AND%20entry_type:%22Sequence%22'" type="button" class="btn btn-default help" title="View sequence regions using Rfam search">
         <i class="fa fa-search" aria-hidden="true"></i> Browse in Rfam
       </button>
      [% IF (rfam.type.search('riboswitch') || rfam.type.search('leader') || rfam.type.search('Gene') && !rfam.type.search('lncRNA') ) %]
        <button onclick="location.href='http://rnacentral.org/search?q=[% rfam.rfam_acc %]%20expert_db:%22Rfam%22'" type="button" class="btn btn-default help" title="View distinct sequences using RNAcentral search">
          <img src="/static/images/rnacentral_logo.png"
               style="width: 17px;"
               alt="RNAcentral logo"/>
          Browse in RNAcentral
         </button>
      [% END %]
    </div>
  </div>
</div>

[% IF rfam.num_full < limits.showAll;
  tabLabel = rfam.num_full %]
  <h3>Table view ([% rfam.num_full + rfam.num_seed | format_number %] sequence regions)</h3>
[% ELSIF rfam.num_full < limits.showText;
  tabLabel = limits.showAll _ "+" %]
  <h3>Table preview ([% limits.showAll %] out of [% rfam.num_full + rfam.num_seed | format_number %] sequence regions)</h3>
[% ELSE;
  tabLabel = limits.showText _ "+" %]
  <h3>Table preview ([% limits.showAll %] out of [% rfam.num_full + rfam.num_seed | format_number %] sequence regions)</h3>
  <p>
  There are too many regions to download. If you need
  a list of all regions for this family, please contact us at the address
  below and we will do our best to help.
  </p>
[% END %]

[% IF rfam.num_full > 0 || rfam.num_seed > 0 %]
  <table summary="Rfam regions"
         id="regionsTable"
         class="details">
    <thead class="sortIndicator">
      <tr>
        <th id="indexCol" class="rowNum">Original order</th>
        <th>Download FASTA</th>
        <th>Accession</th>
        <th>Bit score</th>
        <th>Type</th>
        <th>Start</th>
        <th>End</th>
        <th>Description</th>
        <th>Species</th>
        <th>View context</th>
      </tr>
    </thead>
    <tbody>
      [% seqUri = c.uri_for( '/sequence/' );
      FOREACH region IN seed_region_rs.slice(0, limits.showAll);
        seqAcc  = region.get_column('rfamseq_acc');

        # build the URL for the ENA image, expanding the region by
        # 500 bases in each direction
        from = region.seq_start - 500;
        to   = region.seq_end   + 500;
        IF from < 1;
          from = 1;
        END;
        IF to > region.get_column('length');
          to = region.get_column('length');
        END;

        rnacentral_url = "https://rnacentral.org/rna/";

        enaURI = "http://www.ebi.ac.uk/ena/data/view/graphics/"
          _ seqAcc
          _ "%26showSequence=false%26featureRange="
          _ from _ "-" _ to
          _ "%26sequenceRange=1-1000.jpg";

        enaTitle = "Sequence context for <strong>${rfam.rfam_id}</strong> in "
          _ "<a href='http://www.ebi.ac.uk/ena/data/view/$seqAcc' class='ext'>$seqAcc</a>/"
          _ region.seq_start _ " - " _ region.seq_end
          | html -%]
        <tr class="[% loop.parity %]">
          <td class="rowNum">[% loop.index %]</td>
          <td>
            <div class="bootstrap-wrapper">
              <a onclick="window.open(getFastaDownloadUrl('[% seqAcc %]', '[% region.seq_start %]', '[% region.seq_end %]'));" style="cursor: pointer"><i class="fa fa-download fa-2x" aria-hidden="true" title="Download FASTA sequence"></i></a>
            </div>
          </td>
          <td style="text-align:center;">
            [% IF seqAcc.search('^URS') %]
            <a href="[% rnacentral_url %]/[% seqAcc %]" target="_blank" title="View sequence in RNAcentral">[% seqAcc %]</a>
            [% ELSE %]
            <a title="View accession in ENA"
               href="https://www.ebi.ac.uk/ena/data/view/[% seqAcc %]" target="_blank">
              [% seqAcc %]</a>
            [% END %]
          </td>
          <td title="Bit scores are only provided for full region hits">N/A</td>
          <td>seed</td>
          <td>[% region.seq_start | format_number %]</td>
          <td>[% region.seq_end   | format_number %]</td>
          <td class="left">[% region.get_column('description') %]</td>
          <td>[% region.get_column('species') %]</td>
          <td>
            [% IF not seqAcc.search('^URS') %]
            <a href="[% enaURI %]"
               rel="lightbox[seqs]"
               title="[% enaTitle %]">
              <img src="/static/images/seq_icon.png"
                   class="seqIcon"
                   alt="ENA graphic" /></a>
            [% ELSE %]
            &nbsp;
            [% END %]
          </td>
        </tr>
      [% END %]


      [% seqUri = c.uri_for( '/sequence/' );
      FOREACH region IN region_rs.slice(0, limits.showAll);
        seqAcc  = region.get_column('rfamseq_acc');

        # build the URL for the ENA image, expanding the region by
        # 500 bases in each direction
        from = region.seq_start - 500;
        to   = region.seq_end   + 500;
        IF from < 1;
          from = 1;
        END;
        IF to > region.get_column('length');
          to = region.get_column('length');
        END;

        enaURI = "http://www.ebi.ac.uk/ena/data/view/graphics/"
          _ seqAcc
          _ "%26showSequence=false%26featureRange="
          _ from _ "-" _ to
          _ "%26sequenceRange=1-1000.jpg";

        enaTitle = "Sequence context for <strong>${rfam.rfam_id}</strong> in "
          _ "<a href='http://www.ebi.ac.uk/ena/data/view/$seqAcc' class='ext'>$seqAcc</a>/"
          _ region.seq_start _ " - " _ region.seq_end
          | html -%]
        <tr class="[% loop.parity %]">
          <td class="rowNum">[% loop.index %]</td>
          <td>
            <div class="bootstrap-wrapper">
              <a onclick="window.open(getFastaDownloadUrl('[% seqAcc %]', '[% region.seq_start %]', '[% region.seq_end %]'));" style="cursor: pointer"><i class="fa fa-download fa-2x" aria-hidden="true" title="Download FASTA sequence"></i></a>
            </div>
          </td>
          <td style="text-align:center;">
            [% IF seqAcc.search('^URS') %]
            <a href="[% rnacentral_url %]/[% seqAcc %]" target="_blank" title="View sequence in RNAcentral">[% seqAcc %]</a>
            [% ELSE %]
            <a title="[% rfam.rfam_acc %]"
               href="https://www.ebi.ac.uk/ena/data/view/[% seqAcc %]" target="_blank">
              [% seqAcc %]</a>
            [% END %]
          </td>
          <td>[% region.bit_score %]</td>
          <td>[% region.type %]</td>
          <td>[% region.seq_start | format_number %]</td>
          <td>[% region.seq_end   | format_number %]</td>
          <td class="left">[% region.get_column('description') %]</td>
          <td>[% region.get_column('species') %]</td>
          <td>
            [% IF not seqAcc.search('^URS') %]
            <a href="[% enaURI %]"
               rel="lightbox[seqs]"
               title="[% enaTitle %]">
              <img src="/static/images/seq_icon.png"
                   class="seqIcon"
                   alt="ENA graphic" /></a>
            [% ELSE %]
            &nbsp;
            [% END %]
          </td>
        </tr>
      [% END; %]
    </tbody>
  </table>

  [% IF rfam.num_full > limits.showAll %]
    <p>
      <strong>Note</strong>: this table contains only the first
      <strong>[% limits.showAll %]</strong> sequences.
    </p>
  [% END %]

  <script type="text/javascript">
    // <![CDATA[

    var sorter = new TableKit( "regionsTable",
                               {
                                 editable: false,
                                 resizable: false,
                                 rowEvenClass: "even",
                                 rowOddClass: "odd",
                                 stripe: true,
                                 observers: {
                                   onSortStart: function( table, event ) {
                                     table.down("thead").removeClassName("sortIndicator");
                                   }
                                 }
                               } );

    if ( $("sortLink") ) {
      $("sortLink").observe( "click", function() {
        sorter.sort(0);
      } );
    }

    var lb = new Lightbox();

    // ]]>
  </script>
[% END; # of "IF region_rows.defined" %]

[%#
Copyright (c) 2012: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Sarah Burge <sb30@sanger.ac.uk>
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
