[%
# jalview.tt
# jt6 20120207 WTSI
# 
# build a page for the jalview applet
#
# $Id$

# tell the wrapper not to add any header or footer. We will generate a complete 
# page here ourselves
META naked = 1;

pageContent = BLOCK;

title = "Jalview: seed alignment for $acc";

alignmentURI = c.uri_for( "/family/$acc/alignment/fasta" );
-%]

<h1>
  View seed alignment for <em>[% acc %]</em> using <a class="ext" href="http://www.jalview.org/">Jalview</a>
</h1>

<p>
  Jalview will enable you to view the sequence alignment interactively.
</p>

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END; # of "pageContent = BLOCK"

PROCESS components/tools/toolWindow.tt %]
[%#
Copyright (c) 2011: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
