[%
# chromosomes.tt
# jt6 20081203 WTSI
#
# A chromosome-by-chromosome breakdown of Rfam hits to this genome
#
# $Id: chromosomes.tt,v 1.2 2009-01-15 11:57:32 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files

PROCESS "components/require.tt";

sharedRequirements.js.push( "tablekit.js" );

#-------------------------------------------------------------------------------
%]



<!-- end chromosomes block -->
