[%
# summary.tt
# jt6 20081127 WTSI
#
# build the summary block for the genome pages
#
# $Id: summary.tt,v 1.3 2009-10-08 16:01:48 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files

PROCESS "components/require.tt";

requirements.js.push( "genome-summary.js" );

#-------------------------------------------------------------------------------
%]

<!-- start genome summary block -->

<div class="block" id="genomeSummaryBlock">
  <div class="handle">
    <h1>Genome summary</h1>
  </div>

  <div class="blockContent bootstrap-wrapper">
    <div class="container-fluid" style="margin: 10px; min-height: 200px;">
      <div class="container-main">
        <rfam-genome name="[% entry %]"></rfam-genome>
      </div>
    </div>
  </div>
</div>

<!-- end genome summary block -->
