[%
# summary.tt
# jt6 20081127 WTSI
#
# build the summary block for the genome pages
#
# $Id: summary.tt,v 1.3 2009-10-08 16:01:48 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files

PROCESS "components/require.tt";


#-------------------------------------------------------------------------------
%]

<!-- start genome summary block -->

<div class="block" id="genomeSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>

  </div>
</div>

<!-- end genome summary block -->
