[%
META title = "The RNA families database";
META fullPage = 1;
#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files
PROCESS "components/require.tt";
requirements.css.push( "index.css" );
requirements.css.push( "slick.css" );
requirements.css.push( "slick-theme.css" );
requirements.cssIeAll.push( "index_all_ie.css" );
staticUri = c.uri_for( "/static" );
sharedUri = c.uri_for( "/shared" );
#-------------------------------------------------------------------------------
%]
<!-- start of index page -->
<div class="bootstrap-wrapper">
   <div class="container-fluid">
      <div class="row text-center" style="background: url('[% staticUri %]/images/rna-2d-background.png')">
         <div class="homepage-callout-overlay col-md-8 col-md-offset-2" style="background: rgba(245,245,245,0.8); margin-top: 50px; margin-bottom: 50px;">
            [% # if the database is down, we will be unable to retrieve release data, so
            # change the construction of the page title accordingly
            IF relData;
            # we have release data; format the date nicely
            USE date( format = "%B %Y" );
            d = relData.rfam_release_date.match( '(\d+)\-(\d+)\-(\d+)' );
            USE String;
            release_date = String.new( "00:00:00 " );
            CALL release_date.append( d.2, ":", d.1, ":", d.0 ); %]
            <h2 style="text-transform: inherit; font-size: x-large; color: #621700;">Rfam [% relData.rfam_release.replace('.00', '.0') %] ([% date.format( release_date ) %],
               [% relData.number_families %] families)
            </h2>
            [% ELSE %]
            <h2>Rfam - RNA Families Database</h2>
            [% END %]
            <p class="lead">
               The Rfam database is a collection of RNA families, each represented by <strong>multiple
               sequence alignments,</strong> <strong>consensus secondary structures</strong> and <strong>covariance
               models</strong>
            </p>
            <p class="lead">
               <a href="https://docs.rfam.org/en/latest/about-rfam.html">Learn more about Rfam &rarr;</a>
            </p>
         </div>
      </div>
   </div>
</div>
<br>
<div class="bootstrap-wrapper" >
   <h2 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-search"></i> Search and browse Rfam</h2>
   <form novalidate id="queryForm" class="global-search">
      <fieldset>
         <div class="form-group col-md-6 col-md-offset-3" style="margin-bottom: 0;">
            <div class="input-group input-group">
               <input type="text"
                  class="form-control"
                  id="query-text"
                  name="text"
                  tabindex="1"
                  autocomplete="off"
                  placeholder="Search Rfam"
                  autofocus
                  required
                  style="border-color: #734639; background: #f0d9d3 url(/shared/images/search_gradient.png) repeat-x top left;">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary" style="background-color:#734639;">
                  <i class="fa fa-search"></i>
                  <span class="hidden-xs-inline">Search</span>
                  </button>
               </div>
               <!-- /input-group-btn -->
            </div>
            <!--input-group -->
            <span class="help-block example-searches text-center">
            <i>
            Examples:
            <a class="help" data-placement="bottom" title="Search by a keyword" rel="nofollow" href="/search?q=SAM%20riboswitch">SAM</a>,
            <a class="help" data-placement="bottom" title="Search by species" rel="nofollow" href="/search?q=TAXONOMY:&quot;9606&quot;">Homo sapiens</a>,
            <a class="help" data-placement="bottom" title="Search by RNA type" rel="nofollow" href="/search?q=rna_type:&quot;snoRNA&quot;">snoRNA</a>,
            <a class="help" data-placement="bottom" title="Search by author name" rel="nofollow" href="/search?q=author:&quot;Weinberg&quot;">author:"Weinberg"</a>
            </i>
            </span>
            <p style="margin-bottom: 0;" class="text-center">
               Browse
               <i>
               <a class="help" data-placement="bottom" title="Browse Rfam families" rel="nofollow" href="/search?q=entry_type:&quot;Family&quot;">Families</a>,
               <a class="help" data-placement="bottom" title="Browse Rfam clans" rel="nofollow" href="/search?q=entry_type:&quot;Clan&quot;">Clans</a>,
               <a class="help" data-placement="bottom" title="Browse Rfam motifs" rel="nofollow" href="/search?q=entry_type:&quot;Motif&quot;">Motifs</a>,
               <a class="help" data-placement="bottom" title="Browse Rfam genomes" rel="nofollow" href="/search?q=entry_type:&quot;Genome&quot;">Genomes</a>,
               or
               <a class="help" data-placement="bottom" title="Browse Rfam families with 3D structures" rel="nofollow" href="/search?q=entry_type:&quot;Family&quot; AND has_3d_structure:&quot;Yes&quot;">Families with 3D structures</a>
               </i>
            </p>
         </div>
         <!-- /form-group -->
      </fieldset>
   </form>
   <!-- /form -->
</div>
<br>
<div class="bootstrap-wrapper">
   <div class="container-fluid">
      <div class="row well well-sm">
         <h2 class="text-center margin-bottom-0px" style="font-size: x-large;">Getting started</h2>
         <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default hvr-grow-panel" style="width: 100%;">
               <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-search"></i> Sequence search</h3>
               <div class="panel-body text-center">
                  <p>
                     Annotate your sequences with RNA families and visualise their secondary structure using R2DT
                  </p>
                  <p>
                     <a href="/search#tabview=tab1" class="btn btn-primary btn-rfam">Search by sequence</a>
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default hvr-grow-panel" style="width: 100%;">
               <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-download"></i> Downloads</h3>
               <div class="panel-body text-center">
                  <p>
                     Download covariance models, FASTA sequences, database dumps, previous releases, and more
                  </p>
                  <p>
                     <a href="https://ftp.ebi.ac.uk/pub/databases/Rfam/CURRENT" class="btn btn-primary btn-rfam">Open FTP Archive</a>
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default hvr-grow-panel" style="width: 100%;">
               <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-book"></i> Help</h3>
               <div class="panel-body text-center">
                  <p>
                     Access Rfam using the <a href="https://docs.rfam.org/en/latest/api.html">API</a> and <a href="https://docs.rfam.org/en/latest/database.html">public MySQL database</a>, or learn how to <a href="https://docs.rfam.org/en/latest/genome-annotation.html">annotate genomes</a> using Infernal
                  </p>
                  <p>
                     <a href="https://docs.rfam.org/" class="btn btn-primary btn-rfam">Rfam Help</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default" style="width: 100%;">
               <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-twitter"></i> Tweets</h3>
               <div class="panel-body">
                  <p class="margin-top-5px">
                     <a href="https://twitter.com/rfamdb" class="thumbnail">
                     <img class="hvr-grow" src="[% staticUri %]/images/twitter-page.png" alt="RfamDB account twitter header" style="width: 80%">
                     </a>
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default" style="width: 100%;">
               <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-bullhorn"></i> Announcements</h3>
               <div class="panel-body">
                  <p class="margin-top-5px">
                     <a href="https://xfam.wordpress.com/tag/rfam/" class="thumbnail">
                     <img class="hvr-grow" src="[% staticUri %]/images/release-images/release-15-1.jpg" alt="Release announcement">
                     </a>
                  </p>
                  <ul class="list-inline margin-top-5px" style="margin-left: 5px;">
                     <li><a href="https://xfam.wordpress.com/tag/rfam/" target="_blank"><i class="fa fa-bookmark-o"></i> Subscribe to Rfam Blog</a></li>
                     <li><span class="label label-success">New</span> <a href="https://academic.oup.com/nar/article/53/D1/D258/7889252" target="_blank">Read new Rfam NAR paper</a>
                     <li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default" style="width: 100%;">
               <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-pencil"></i> Citing Rfam</h3>
               <div class="panel-body">
                  If you use Rfam, please cite our latest papers:
                  <blockquote class="callout-info" style="font-size: small;">
                     <p>
                        <span class="title">
                        <a class="ext" target="_blank"
                           href="https://doi.org/10.1093/nar/gkae1023">
                           Rfam 15: RNA families database in 2025</a>
                        </span>
                        <br>
                        <span class="authors">
                         Ontiveros-Palacios et al.,
                        </span>
                        <span class="ref">
                        <strong>Nucleic Acids Research</strong>&nbsp;(2024)
                        </span>
                     </p>
                  </blockquote>
                  <blockquote style="font-size: small;">
                     <div class="citation">
                        <span class="title">
                        <a class="ext"
                           href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6754622/">
                        Non-coding RNA analysis using the Rfam database.</a>
                        </span>
                        <br>
                        <span class="authors">
                        Kalvari et al.,
                        </span>
                        <span class="ref">
                        <strong>Current Protocols in Bioinformatics</strong>&nbsp;(2018)
                        </span>
                     </div>
                  </blockquote>
                  <a href="https://docs.rfam.org/en/latest/citing-rfam.html">View all Rfam papers</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row well well-sm">
      <h2 class="text-center margin-bottom-0px" style="font-size: x-large;">Current projects</h2>
      <div class="col-md-4 col-sm-4 col-xs-4" onclick="location.href='/3d';" style="cursor: pointer;">
         <div class="panel panel-default" style="width: 100%;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"> 3D Families</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/3d" class="thumbnail">
                  <img class="hvr-grow" src="[% staticUri %]/images/3d-families.png" alt="Rfam 3D families graph" style="width: 80%">
                  </a>
               </p>
               <p class="lead text-center">
                  <a href="">Explore families with 3D Information &rarr;</a>
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4" onclick="location.href='/viruses';" style="cursor: pointer;">
         <div class="panel panel-default" style="width: 100%;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-empire"></i> Viruses</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/viruses" class="thumbnail">
                  <img class="hvr-grow" src="[% staticUri %]/images/HCV.png" alt="HCV families" style="width: 80%">
                  </a>
               </p>
               <p class="lead text-center">
                  <a href="">Discover new <em>Coronaviridae</em> and <em>Flaviviridae</em> RNA families &rarr;</a>
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4" onclick="location.href='/microrna';" style="cursor: pointer;">
         <div class="panel panel-default" style="width: 100%;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;"><i class="fa fa-refresh"></i> microRNAs</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/microrna" class="thumbnail">
                  <img class="hvr-grow" src="[% staticUri %]/images/mirbase.png" alt="miRBase logo" style="width: 60%">
                  </a>
               </p>
               <p class="lead text-center">
                  <a href="">Find out about the first phase of synchronising microRNA families between miRBase and Rfam &rarr;</a>
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <h2 class="text-center margin-bottom-0px" style="font-size: x-large;">Featured families</h2>
      <div class="featured-gallery">
      <div class="col-md-3 col-sm-3 col-xs-6">
         <div class="panel panel-default hvr-grow-panel" style="width: 100%; background-color: #ece2e0;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;">SAM riboswitch</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/family/RF00162" class="thumbnail">
                  <img class="hvr-grow" src="/family/RF00162/image/rscape" alt="SAM riboswitch secondary structure" style="max-height: 200px">
                  </a>
               </p>
               <p class="lead">
                  The SAM riboswitch seed alignment has been revised using the 3D structure information
                  <a href="/family/RF00162">View family &rarr;</a>
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
         <div class="panel panel-default hvr-grow-panel" style="width: 100%; background-color: #ece2e0;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;">manA RNA</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/family/RF01745" class="thumbnail">
                  <img class="hvr-grow" src="/family/RF01745/image/rscape" alt="manA RNA secondary structure" style="max-height: 200px">
                  </a>
               </p>
               <p class="lead">
                  The manA seed alignment has been revised using the original ZWD alignment
                  <a href="/family/RF01745">View family &rarr;</a>
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
         <div class="panel panel-default hvr-grow-panel" style="width: 100%; background-color: #ece2e0;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;">L4-Archaeoglobi</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/family/RF03135" class="thumbnail">
                  <img class="hvr-grow" src="/family/RF03135/image/rscape" alt="L4-Archaeoglobi secondary structure" style="max-height: 200px">
                  </a>
               </p>
               <p class="lead">
                  L4-Archaeoglobi is one of the new r-leader families imported from ZWD
                  <a href="/family/RF03135">View family &rarr;</a>
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
         <div class="panel panel-default hvr-grow-panel" style="width: 100%; background-color: #ece2e0;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;">General Flavivirus xrRNA</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/family/RF03547" class="thumbnail">
                  <img class="hvr-grow" src="/family/RF03547/image/rscape" alt="Flavivirus xrRNA secondary structure" style="max-height: 200px">
                  </a>
               </p>
               <p class="lead">
                  General Flavivirus exoribonuclease-resistant RNA element is one of the new <em>Flavivirus</em> RNA families
                  <a href="/family/RF03547">View family &rarr;</a>
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
         <div class="panel panel-default hvr-grow-panel" style="width: 100%; background-color: #ece2e0;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;">LOOT RNA</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/family/RF03000" class="thumbnail">
                  <img class="hvr-grow" src="/family/RF03000/image/rscape" alt="LOOT RNA secondary structure" style="max-height: 200px">
                  </a>
               </p>
               <p class="lead">
                  LOOT RNA has been imported from ZWD
                  <a href="/family/RF03000">View family &rarr;</a>
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
         <div class="panel panel-default hvr-grow-panel" style="width: 100%; background-color: #ece2e0;">
            <h3 class="text-center margin-bottom-0px" style="text-transform: inherit; font-size: x-large; color: #621700;">Alphacoronavirus 5' UTR</h3>
            <div class="panel-body">
               <p class="margin-top-5px">
                  <a href="/family/RF03116" class="thumbnail">
                  <img class="hvr-grow" src="/family/RF03116/image/rscape" alt="Alphacoronavirus 5' UTR secondary structure" style="max-height: 200px">
                  </a>
               </p>
               <p class="lead">
                 Alphacoronavirus 5' UTR includes SL1, SL2, SL4, and SL5 stem loops
                  <a href="/family/RF03116">View family &rarr;</a>
               </p>
            </div>
         </div>
      </div>
      </div>
   </div>

<div id="data-protection-message-configuration" data-message="This website requires cookies and limited processing of your personal data in order to function. By using this site you are agreeing to this as outlined in our <a href='/static/documents/privacy-notice.pdf'>Privacy Policy</a> and <a href='https://www.ebi.ac.uk/about/terms-of-use'>Terms of Use</a>." data-service-id="rfam"></div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="[% staticUri %]/javascripts/slick.min.js"></script>

<script>
   function hideModal() {
      $("#myModal").removeClass("in");
      $(".modal-backdrop").remove();
      $('body').removeClass('modal-open');
      $('body').css('padding-right', '');
      $("#myModal").hide();
   }
  // submit text search queries
  jQuery(function() {
    jQuery('#queryForm').submit(function(){
      var searchField = jQuery('#query-text');
      if (!searchField.val()) {
        searchField.focus();
        return false;
      }
      window.location = '/search?q=' + searchField.val();
      return false;
    });
  });

  $(document).ready(function(){
    var total = $('.featured-gallery img').length;
    var rand = Math.floor( Math.random() * total );
    $('.featured-gallery').slick({
      dots: true,
      arrows: false,
      slidesToShow: 4,
      infinite: true,
      autoplay: false,
      initialSlide: rand, //navigate to random slide;
      draggable: true,
      focusOnSelect: false,
    });
  });
</script>

<!-- end of index page -->
