[%
META naked = 1;

# the base URL for static content
staticUri = c.uri_for( "/static" );
sharedUri = c.uri_for( "/shared" );
-%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

  <head>
    <title>Viral RNA families</title>
    <link rel="stylesheet" type="text/css" href="[% staticUri %]/css/rfam.css" />
  </head>

  <body>

    [% TRY;
      PROCESS "components/header.tt";
    CATCH file;
      CALL c.log.error( "wrapper.tt: couldn't process the header" );
    END -%]

    <div class="bootstrap-wrapper">
      <div class="container-fluid" style="margin-left: 15px; margin-right: 15px; margin-bottom: 15px;">
          <div class="row">
              <h1>Viral RNA families</h1>
              <img class="img-thumbnail pull-left" style="width: 200px; margin-right: 15px;" src="/static/images/evbc.png" alt="EVBC logo">
              <p class="lead">
                Rfam is collaborating with the <strong>European Virus Bioinformatics Centre</strong> (EVBC), with an aim to provide a comprehensive database for virologists interested in RNA secondary structures.
                <br>
                <a href="http://evbc.uni-jena.de/" target="_blank">Learn more about EVBC &rarr;</a>
              </p>
          </div>

          <div class="row">
            <h2><em>Coronaviridae</em> RNA families</h2>

            <div class="col-md-4" onclick="location.href='/covid-19';" style="cursor: pointer;">
              <img class="img-thumbnail" style="max-height: 300px;" src="/static/images/coronavirus/SARS-Cov-2.png" alt="SARS-Cov-2 Rfam model">
            </div>

            <div class="col-md-6">
              <p>
                In Rfam release 14.2 we created 10 families representing the entire 5'- and 3'- untranslated regions (UTRs) for <em>Alpha-</em>, <em>Beta-</em>, <em>Gamma-</em>, and <em>Deltacoronaviruses</em>.
                A specialised set of alignments for the subgenus <em>Sarbecovirus</em> is also provided, including the SARS-CoV-1 and SARS-CoV-2 UTRs.
              </p>

              <p style="margin: 10px 0px;">
                There are also 4 non-UTR families, including <a href="/family/RF00182">Coronavirus packaging signal</a>,
                <a href="/family/RF00507">Coronavirus frameshifting stimulation element</a>,
                <a href="/family/RF00164">Coronavirus s2m RNA</a>,
                and <a href="/family/RF00165">Coronavirus 3'-UTR pseudoknot</a>.
              </p>

              <p style="margin: 10px 0px;">
                In release 14.8 we have added 10 new <em>Coronaviridae</em> families, and updated 3 families. 
              </p>

              <a href="/covid-19" class="btn btn-primary btn-rfam">View <em>Coronaviridae</em> families</a>
            </div>

          </div> <!-- row -->

          <div class="row">

            <h2><em>Flaviviridae</em> RNA families</h2>

            <div class="col-md-6" onclick="location.href='https://docs.rfam.org/page/rfam-cloud.html';" style="cursor: pointer;">

              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Accession</th>
                    <th>Rfam ID</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tr>
                  <td><a href="/family/RF03546">RF03546</a></td>
                  <td>Flavivirus-5UTR</td>
                  <td>Flavivirus 5' UTR</td>
                </tr>
                <tr>
                  <td><a href="/family/RF00185">RF00185</a></td>
                  <td>Flavi_CRE</td>
                  <td>Flavivirus 3' UTR cis-acting replication element (CRE)</td>
                </tr>
                <tr>
                  <td><a href="/family/RF00525">RF00525</a></td>
                  <td>Flavivirus_DB</td>
                  <td>Flavivirus DB element</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03547">RF03547</a></td>
                  <td>Flavi_xrRNA</td>
                  <td>General Flavivirus exoribonuclease-resistant RNA element</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03545">RF03545</a></td>
                  <td>Flavi_ISFV_CRE</td>
                  <td>Insect-specific Flavivirus 3' UTR cis-acting replication element (CRE)</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03544">RF03544</a></td>
                  <td>Flavi_ISFV_repeat_Ra</td>
                  <td>Insect-Specific Flavivirus 3' UTR repeats Ra</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03543">RF03543</a></td>
                  <td>Flavi_ISFV_repeat_Rb</td>
                  <td>Insect-Specific Flavivirus 3' UTR repeats Rb</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03542">RF03542</a></td>
                  <td>Flavi_ISFV_repeat_Ra_Rb</td>
                  <td>Insect-Specific Flavivirus 3' UTR repeats Ra and Rb elements</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03541">RF03541</a></td>
                  <td>Flavi_ISFV_xrRNA</td>
                  <td>Insect-specific Flavivirus exoribonuclease-resistant RNA element</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03540">RF03540</a></td>
                  <td>Flavi_NKV_CRE</td>
                  <td>No-Known-Vector Flavivirus 3' UTR cis-acting replication element (CRE)</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03539">RF03539</a></td>
                  <td>Flavi_NKV_xrRNA</td>
                  <td>No-known vector Flavivirus exoribonuclease-resistant RNA element</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03538">RF03538</a></td>
                  <td>Flavi_TBFV_CRE</td>
                  <td>Tick-borne Flavivirus 3' UTR cis-acting replication element (CRE)</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03537">RF03537</a></td>
                  <td>Flavi_TBFV_SL6</td>
                  <td>Tick-borne Flavivirus short stem-loop SL6</td>
                </tr>
                <tr>
                  <td><a href="/family/RF03536">RF03536</a></td>
                  <td>Flavi_TBFV_xrRNA</td>
                  <td>Tick-borne Flavivirus exoribonuclease-resistant RNA element</td>
                </tr>
              </table>
            </div>

          </div> <!-- row -->

          <div class="row">

            <h2><em>Hepatitis C</em> RNA families</h2>
            <p> In Rfam release 14.8, we have added 4 new <em>Hepatitis C</em> families, and updated 5 exiting families. </p>

            <div class="col-md-6" onclick="location.href='https://docs.rfam.org/page/rfam-cloud.html';" style="cursor: pointer;">

              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Accession</th>
                    <th>Rfam ID</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tr>
                  <td><a href="/family/RF00061">RF00061</a></td>
                  <td>IRES_HCV</td>
                  <td>Hepatitis C virus internal ribosome entry site</td>
                </tr>
                <tr>
                  <td><a href="/family/RF00260">RF00260</a></td>
                  <td>HepC_CRE</td>
                  <td>Hepatitis C virus (HCV) cis-acting replication element (CRE)</td>
                </tr>
                <tr>
                  <td><a href="/family/RF00620">RF00620</a></td>
                  <td>HCV_ARF_SL</td>
                  <td>Hepatitis C alternative reading frame stem-loop</td>
                </tr>
                <tr>
                  <td><a href="/family/RF00468">RF00468</a></td>
                  <td>HCV_SLVII</td>
                  <td>Hepatitis C virus stem-loop VII</td>
                </tr>
                <tr>
                  <td><a href="/family/RF00481">RF00481</a></td>
                  <td>HCV_X3</td>
                  <td>Hepatitis C virus 3'X element</td>
                </tr>
                <tr>
                  <td><a href="/family/RF04218">RF04218</a></td>
                  <td>HCV_5BSL1</td>
                  <td>Hepatitis C virus stem-loop I</td>
                </tr>
                <tr>
                  <td><a href="/family/RF04219">RF04219</a></td>
                  <td>HCV_J750</td>
                  <td>J750 non-coding RNA (containing SLSL761 and SL783)</td>
                </tr>
                <tr>
                  <td><a href="/family/RF04220">RF04220</a></td>
                  <td>HCV_SL588</td>
                  <td>SL588 non-coding RNA</td>
                </tr>
                <tr>
                  <td><a href="/family/RF04221">RF04221</a></td>
                  <td>HCV_SL669</td>
                  <td>SL669 non-coding RNA</td>
                </tr>
              </table>
            </div>

          </div> <!-- row -->

          <div class="row well" style="margin-top: 10px;">
            <h2>Work in progress</h2>

            <p>
              We are working on adding RNA families from other viruses, such as
              <em>Hepacivirus</em> (Hepatitis C viruses), <em>Filoviridae</em> (e.g. Ebolavirus) and <em>Rhabdoviridae</em> (e.g. Rabies viruses).
            </p>
            <p>
              Please <a href="https://docs.rfam.org/en/latest/contact-us.html">contact Rfam</a> if you are interested in a specific virus family or if you have feedback about this project.
            </p>
          </div> <!-- row -->

      </div> <!-- container-fluid -->
  </div> <!-- bootstrap-wrapper -->

    [% TRY;
      PROCESS "components/footer_${c.config.site}.tt";
    CATCH file;
      CALL c.log.error( "wrapper.tt: couldn't find the site-specific footer" );
    END -%]

  </body>

</html>
