<div class="block" id="searchTextBlock">

<div class="handle">
  <h1>Text search</h1>
</div>

<div class="blockContent bootstrap-wrapper">
<div class="container-fluid" style="margin: 10px; min-height: 500px;">

  <div class="container-main">

    <div>

      <div class="row">
      <div ng-controller="QueryCtrl" class="col-md-12 col-sm-12 col-xs-12">

        <form novalidate name="queryForm" class="global-search" ng-submit="submit_query()">
          <fieldset style="padding: 15px; border: 1px #734639 solid;">
          <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
            <div class="input-group input-group-lg">
              <input type="text"
                     class="form-control"
                     id="query-text"
                     name="text"
                     tabindex="1"
                     ng-model="query.text"
                     ng-minlength="2"
                     ng-maxlength="1000"
                     autocomplete="off"
                     placeholder="Search Rfam"
                     autofocus
                     required
                     style="border-color: #734639; border-color: #734639; background: #fff6f4; color: #734639;">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary" style="background-color:#734639;">
                  <i class="fa fa-search"></i>
                  <span class="hidden-xs-inline">Search</span>
                </button>
              </div><!-- /input-group-btn -->
            </div><!--input-group -->
            <span class="help-block example-searches">

                <i>
                  Examples:
                  <a class="help" data-placement="bottom" title="Search by a keyword" href="" rel="nofollow" ng-click="meta_search('SAM riboswitch')">SAM</a>,
                  <a class="help" data-placement="bottom" title="Search by species" href="" rel="nofollow" ng-click="meta_search('TAXONOMY:&quot;9606&quot;')">Homo sapiens</a>,
                  <a class="help" data-placement="bottom" title="Search by RNA type" href="" rel="nofollow" ng-click="meta_search('rna_type:&quot;snoRNA&quot;')">snoRNA</a>,
                  <a class="help" data-placement="bottom" title="Search by PubMed ID" href="" rel="nofollow" ng-click="meta_search('PUBMED:&quot;20230605&quot;')">PUBMED:20230605</a>,
                  <a class="help" data-placement="bottom" title="Search by SO terms" href="" rel="nofollow" ng-click="meta_search('&quot;SO:0000370&quot;')">SO:0000370 (small regulatory ncRNA)</a>,
                  <a class="help" data-placement="bottom" title="Search by GO terms" href="" rel="nofollow" ng-click="meta_search('&quot;GO:0005685&quot;')">GO:0005685 (U1 snRNP)</a>,
                  <a class="help" data-placement="bottom" title="Search by author name" href="" rel="nofollow" ng-click="meta_search('author:&quot;Weinberg&quot;')">author:"Weinberg"</a>
                </i>

            </span>

            <p style="margin-bottom: 0;">
              Browse
              <i>
                <a class="help" data-placement="bottom" title="Browse Rfam families" href="" rel="nofollow" ng-click="meta_search('entry_type:&quot;Family&quot;')">Families</a>,
                <a class="help" data-placement="bottom" title="Browse Rfam clans" href="" rel="nofollow" ng-click="meta_search('entry_type:&quot;Clan&quot;')">Clans</a>,
                <a class="help" data-placement="bottom" title="Browse Rfam motifs" href="" rel="nofollow" ng-click="meta_search('entry_type:&quot;Motif&quot;')">Motifs</a>,
                <a class="help" data-placement="bottom" title="Browse Rfam genomes" href="" rel="nofollow" ng-click="meta_search('entry_type:&quot;Genome&quot;')">Genomes</a>,
                <a class="help" data-placement="bottom" title="Browse Rfam sequences" href="" rel="nofollow" ng-click="meta_search('entry_type:&quot;Sequence&quot;')">Sequences</a>,
                or
                <a class="help" data-placement="bottom" title="Browse Rfam families with 3D structures" href="" rel="nofollow" ng-click="meta_search('entry_type:&quot;Family&quot; AND has_3d_structure:&quot;Yes&quot;')">Families with 3D structures</a>
              </i>
            </p>

            <label class="control-label ng-cloak has-error"
                   for="query-text" ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                   ng-cloak>
              Your query is too short
            </label>
            <label class="control-label ng-cloak"
                   for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                   ng-cloak>
              Your query is too long
            </label>
          </div><!-- /form-group -->
          </fieldset>
        </form><!-- /form -->

      </div><!--ng-controller QueryCtrl-->
      </div><!--row-->


      <div ng-show="display_search_interface" class="bootstrap-wrapper ng-cloak" ng-cloak ng-controller="ResultsListCtrl">

        <h2>
          <i class="fa fa-search"></i> Results
          <small ng-show="search_in_progress">
            <i class="fa fa-spinner fa-spin"></i>
          </small>
          <small id="metadata-search-status" ng-show="search_in_progress">
            Searching...
          </small>
          <small ng-show="result.hitCount > 0">
            <span ng-if="result.hitCount == 1">1</span>
            <span ng-if="result.hitCount > 1" id="text-search-results-count">{{result.entries.length}} out of {{result.hitCount | number}}</span>
          </small>


          <form class="pull-right form-inline small">
            <div class="form-group">
              Sort by:
              <select class="form-control" ng-change="update_ordering();" ng-model="params.selectedOrdering" ng-options="item.label for item in ordering | filter:{ type : search_type } track by item.label"></select>
            </div>
          </form>

        </h2>

        <div class="row visible-xs">
          <div class="col-xs-12">
            <button class="btn btn-default" ng-click="toggle_facets()" id="toggle-facets">Show facets</button>
          </div>
        </div> <!-- .visible-xs -->

        <div class="row" ng-if="show_error">
          <div class="col-md-12">
            <div class="alert alert-danger col-md-12">
              There was an error while processing your query
            </div>
          </div>
          <div class="col-md-12">
            <h2>Suggestions</h2>
            <ul>
              <li>
                <p>
                  Try reloading the page
                </p>
              </li>
              <li>
                <p>
                </p>
              </li>
            </ul>
          </div>
        </div> <!-- ng-if="show_error" -->

        <div class="row" ng-if="show_export_error">

          <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <i class="fa fa-warning fa-3x pull-left"></i>
              There was an error while exporting search results.
              <br>
              Please try again if the problem persists.
            </div>
          </div>

        </div> <!-- ng-if="show_export_error" -->

        <div class="row" ng-if="result.hitCount == 0">

          <div class="col-md-12">
            <div class="alert alert-warning col-md-12 metasearch-no-results">
              <strong>No results</strong>
            </div>
          </div>

          <div class="col-md-12">
            <h2><i class="fa fa-lightbulb-o"></i> Suggestions</h2>
            <ul>
              <li>
                <p>
                  Make sure your spelling is correct
                </p>
                <p>
                  <em>Example</em>: misspelled terms like <code>Esherichia</code> (missing "c") won't find any results
                </p>
              </li>
              <li>
                <p>
                  Use full species names
                </p>
                <p>
                  <em>Example</em>: use <code>Escherichia coli</code> and not <code>E. coli</code> as your search terms
                </p>
              </li>
              <li>
                <p>
                  Make sure to include double quotes in field-specific search using the <code>field:"field value"</code> format
                </p>
              </li>
              <li>
                <p>
                  Read more about <a href="[% c.config.ebi_search %]/ebisearch/documentation.ebi">query syntax</a>
                </p>
              </li>
            </ul>
          </div>

        </div>

        <div class="row" ng-show="result.hitCount > 0">

          <div class="col-md-3 col-sm-4 hidden-xs metasearch-facets">
            <ul class="list-unstyled">
              <li class="facet" ng-repeat="facet in result.facets">
                  <h3>{{facet.label}}</h3>
                  <ul class="list-unstyled metasearch-facet-values metasearch-facet-overflow force-scrollbars" style="overflow: auto; max-height: 300px;">
                      <li ng-repeat="facet_value in facet.facetValues" style="white-space: nowrap;">
                        <input type="checkbox" name="facet.label" ng-checked="is_facet_applied(facet.id, facet_value.value)" ng-click="facet_search(facet.id, facet_value.value)">
                        <a href="" ng-click="facet_search(facet.id, facet_value.value)" style="color: #404040; text-decoration: none;" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                      </li>
                      <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small>
                  </ul>
              </li>
            </ul>
            <hr>
            <small class="text-muted">
              Powered by <a href="[% c.config.ebi_search %]/ebisearch/metadata.ebi?db=rfam" target="_blank">EBI Search</a>
            </small>

          </div>

          <div class="col-md-9 col-sm-8 col-xs-12 text-search-results">
            <ul class="list-unstyled">
              <li class="result" ng-repeat="rna in result.entries">
                <div class="metasearch-result panel panel-default" style="margin-bottom: 1em;">
                  <div class="panel-body" style="padding: 10px 15px;">
                  <h4>
                    <a ng-if="rna.fields.entry_type[0] == 'Family'" href="/family/{{rna.id}}" ng-bind-html="rna.fields.description[0] | sanitize" target="_self"></a>
                    <a ng-if="rna.fields.entry_type[0] == 'Motif'" href="/motif/{{rna.id}}" ng-bind-html="rna.fields.description[0] | sanitize" target="_self"></a>
                    <a ng-if="rna.fields.entry_type[0] == 'Clan'" href="/clan/{{rna.id}}" ng-bind-html="rna.fields.description[0] | sanitize" target="_self"></a>
                    <span ng-if="rna.fields.entry_type[0] == 'Genome'">
                      <a href="/genome/{{rna.id}}" ng-bind-html="rna.fields.scientific_name[0] | sanitize" target="_self"></a>
                      <small ng-if="rna.fields.common_name[0]">
                        <span class="text-capitalize-first-letter" style="display: inline-block;" ng-bind-html="rna.fields.common_name[0] | sanitize"></span>
                      </small>
                    </span>

                    <span>
                      <a ng-if="rna.fields.entry_type[0] == 'Sequence' && is_rnacentral(rna.fields.rfamseq_acc[0])" href="https://rnacentral.org/rna/{{rna.fields.rfamseq_acc[0] | htmlToPlaintext}}" ng-bind-html="rna.fields.description[0] | sanitize" target="_blank" title="View sequence in RNAcentral"></a>
                      <a ng-if="rna.fields.entry_type[0] == 'Sequence' && !is_rnacentral(rna.fields.rfamseq_acc[0])" href="/accession/{{rna.fields.rfamseq_acc[0] | htmlToPlaintext}}?seq_start={{rna.fields.seq_start[0]| htmlToPlaintext}}&seq_end={{rna.fields.seq_end[0] | htmlToPlaintext}}" ng-bind-html="rna.fields.description[0] | sanitize" target="_self"></a>
                    </span>

                    <small ng-if="rna.fields.entry_type[0] != 'Genome' && rna.fields.entry_type[0] != 'Sequence'">{{rna.id}}</small>
                  </h4>

                  <div class="media">
                    <div class="media-left media-top col-md-2" ng-if="rna.fields.entry_type[0] == 'Family'" style="padding-left: 0;">
                      <a href="/family/{{rna.id}}#tabview=tab3" target="_self">
                        <img src="/family/{{rna.id}}/thumbnail" class="bootstrap-wrapper img-thumbnail" alt="{{ rna.id }} secondary structure" style="max-width: 120px; max-height: 100px;">
                      </a>
                    </div>
                    <div class="media-body">

                      <div style="margin-bottom: 10px;">
                        <ul class="list-inline" ng-if="rna.fields.entry_type[0] == 'Family'">
                          <li><span class="label label-default">{{ rna.fields.entry_type[0] }}</span></li>
                          <li><span ng-bind-html="rna.fields.name[0] | sanitize"></span></li>
                          <li><i ng-bind-html="rna.fields.rna_type.join('; ') | sanitize"></i></li>
                        </ul>

                        <ul class="list-inline" ng-if="rna.fields.entry_type[0] == 'Sequence'">
                          <li><span class="label label-default">{{ rna.fields.entry_type[0] }}</span></li>
                          <li>
                            <span>
                              <a ng-if="is_rnacentral(rna.fields.rfamseq_acc[0])" href="https://rnacentral.org/rna/{{rna.fields.rfamseq_acc[0] | htmlToPlaintext}}" target="_blank" style="color: #404040;" title="View sequence in RNAcentral">{{rna.fields.rfamseq_acc[0] | htmlToPlaintext}}</a>
                              <a ng-if="!is_rnacentral(rna.fields.rfamseq_acc[0])" href="http://www.ebi.ac.uk/ena/data/view/{{rna.fields.rfamseq_acc[0] | htmlToPlaintext}}" target="_blank" style="color: #404040;" title="View sequence in ENA">{{rna.fields.rfamseq_acc[0] | htmlToPlaintext}}</a>
                            </span>
                          </li>
                          <li><i title="Sequence start and end coordinates" class="cursor-help">{{rna.fields.seq_start[0] | number}}:{{rna.fields.seq_end[0] | number}}</i></li>
                          <li><i ng-bind-html="rna.fields.rna_type.join('; ') | sanitize"></i></li>
                        </ul>

                        <ul class="list-inline" ng-if="rna.fields.entry_type[0] == 'Motif'">
                          <li><span class="label label-info">{{ rna.fields.entry_type[0] }}</span></li>
                          <li><span ng-bind-html="rna.fields.name[0] | sanitize"></span></li>
                        </ul>

                        <ul class="list-inline" ng-if="rna.fields.entry_type[0] == 'Clan'">
                          <li><span class="label label-danger">{{ rna.fields.entry_type[0] }}</span></li>
                          <li><span ng-bind-html="rna.fields.name[0] | sanitize"></span></li>
                        </ul>

                        <ul class="list-inline" ng-if="rna.fields.entry_type[0] == 'Genome'">
                          <li>
                            <span class="label label-warning" style="background-color: #734639;">{{ rna.fields.entry_type[0] }}</span>
                          </li>
                          <li>
                            <span class="help" title="Assembly name">{{rna.fields.assembly_name[0] | htmlToPlaintext}}</span>
                          </li>
                          <li>
                            <i class="help" title="Genome length: {{rna.fields.length[0] | number}} bases">{{rna.fields.length[0] | humanizeGenomesize}}</i>
                          </li>
                        </ul>
                      </div>

                      <div>
                        <div ng-if="rna.fields.entry_type[0] == 'Family' && !show_family_genome_context()">
                          <p>
                            <i class="fa fa-bars"></i>
                            <a href="/family/{{rna.id}}#tabview=tab1" target="_self"><strong>{{rna.fields.num_seed[0] | number}}</strong> seed alignment sequences</a>
                          </p>
                          <ul class="list-inline">
                            <li>
                                <i class="fa fa-align-justify"></i>
                                <a href="/family/{{rna.id}}#tabview=tab1" target="_self"><strong>{{rna.fields.num_full[0] | number}}</strong> full alignment sequences</a>
                            </li>
                            <li>
                              <i class="fa fa-sitemap"></i>
                              <a href="/family/{{rna.id}}#tabview=tab4" target="_self"><strong>{{ rna.fields.num_species[0] | number }}</strong> species</a>
                            </li>
                            <li ng-if="rna.fields.num_3d_structures[0] > 0">
                              <label class="label label-primary">3D</label>
                              <span ng-if="rna.fields.num_3d_structures[0] == 1">
                                <a href="/family/{{rna.id}}#tabview=tab6" target="_self"><strong>{{ rna.fields.num_3d_structures[0] | number }}</strong> structure</a>
                              </span>
                              <span ng-if="rna.fields.num_3d_structures[0] > 1">
                                <a href="/family/{{rna.id}}#tabview=tab6" target="_self"><strong>{{ rna.fields.num_3d_structures[0] | number }}</strong> structures</a>
                              </span>
                            </li>
                          </ul>
                        </div>

                        <div ng-if="rna.fields.entry_type[0] == 'Family' && show_family_genome_context()">
                          <p>
                            <a href='/search?q={{get_genome_id_from_query()}} AND {{rna.id}} AND entry_type:"Sequence"'>View {{ rna.id }} sequences from this genome</a>
                          </p>
                        </div>

                        <div ng-if="rna.fields.entry_type[0] == 'Clan' || rna.fields.entry_type[0] == 'Motif'">
                          <p>
                            <strong>{{rna.fields.num_families[0] | number}}</strong> families
                          </p>
                        </div>

                        <div ng-if="rna.fields.entry_type[0] == 'Genome'">
                          <p>
                            <i class="fa fa-sitemap" style="margin-right: 5px;"></i>
                            <span ng-repeat="taxon in rna.fields.tax_string_array track by $index">
                              <a style="color: #404040; text-decoration: none;" href='/search?q=tax_string:"{{taxon | htmlToPlaintext}}"%20AND%20entry_type:"Genome"' ng-bind-html="taxon | sanitize" title="Search for genomes from this taxon"></a><span ng-if="!$last">,</span>
                            </span>
                          </p>
                          <p>
                            <a href="/search?q={{rna.id}}%20AND%20entry_type:%22Sequence%22"><strong>{{rna.fields.num_rfam_hits[0] | number}}</strong> sequences</a> from
                            <a href="/search?q={{rna.id}}%20AND%20entry_type:%22Family%22"><strong>{{rna.fields.num_families[0] | number}}</strong> families</a>
                          </p>
                        </div>

                        <div ng-if="rna.fields.entry_type[0] == 'Sequence'">
                          <ul class="list-inline">
                            <li><strong ng-class="{'text-success': (rna.fields.alignment_type[0]|htmlToPlaintext) == 'seed'}" ng-bind-html="rna.fields.alignment_type[0] | sanitize"></strong> alignment</li>
                            <li title="A bit score of {{ rna.fields.bit_score[0] }} bits indicates the sequence is 2 * {{ rna.fields.bit_score[0] }} times more likely to have been generated from the covariance model than from the random background model" class="cursor-help"><strong>{{ rna.fields.bit_score[0] | number }}</strong> bits</li>
                            <li><strong>{{rna.fields.seq_end[0] - rna.fields.seq_start[0] | abs | number}}</strong> nucleotides</li>
                            <li ng-if="(rna.fields.truncated[0]|htmlToPlaintext) != '0'" class="label label-danger">
                              <span ng-if="(rna.fields.truncated[0]|htmlToPlaintext) == '5'">Truncated on 5' end</span>
                              <span ng-if="(rna.fields.truncated[0]|htmlToPlaintext) == '3'">Truncated on 3' end</span>
                              <span ng-if="(rna.fields.truncated[0]|htmlToPlaintext) == '53'">Truncated on both 5' and 3' ends</span>
                            </li>
                            <li ng-if="rna.fields.chromosome_name[0]">chromosome {{rna.fields.chromosome_name[0]}}</li>
                            <li><i class="fa fa-download fa-download-2x" aria-hidden="true"></i> <a href="" ng-click="download_fasta(rna)">Dowload fasta</a></li>
                          </ul>
                        </div>
                      </div>

                    </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>

            <br>
            <small ng-if="result.hitCount > result.entries.length" class="text-muted">Displaying {{result.entries.length}} out of {{result.hitCount | number}} results</small>
            <br>

            <button class="btn btn-default load-more col-md-3" ng-click="load_more_results()" ng-show="result.hitCount > result.entries.length"><i ng-class="search_in_progress ? 'fa fa-spinner fa-spin' : 'hidden'"></i> Load more</button>
          </div>

        </div><!--/row-->

      </div><!--ng-controller ResultsListCtrl-->

    </div><!--ng-app-->

  </div><!--container-main-->

</div><!--container-->

</div><!--blockContent-->
</div><!--block-->
