[%
# header.tt
# jt6 200670326 WTSI
#
# the page header for all main Rfam pages.
#
# $Id: header.tt,v 1.8 2009-06-09 12:22:33 jt6 Exp $

# the names for the links in the page
navNames = {
  home    = "HOME",
  search  = "SEARCH",
  browse  = "BROWSE",
  ftp     = "FTP",
  blog    = "BLOG",
  # biomart = "BIOMART",
  help    = "HELP" };

# the URIs for the links
navLinks = {
  home    = c.uri_for( "/" ),
  search  = c.uri_for( "/search" ),
  browse  = c.uri_for( "/browse" ),
  ftp     = "https://ftp.ebi.ac.uk/pub/databases/Rfam",
  blog    = "http://xfam.wordpress.com/tag/rfam/",
  help    = "https://docs.rfam.org"
};

# the order of the items in the navbar - these are the keys for the two
# hashes above
# navItems = [ "home", "search", "browse", "ftp", "biomart", "blog", "help" ];
navItems = [ "home", "search", "browse", "ftp", "blog", "help" ];

# the base URL for static content
staticUri = c.uri_for( "/static" );
sharedUri = c.uri_for( "/shared" );
-%]

<!-- header starts here -->

<div class="bootstrap-wrapper">
  <nav class="navbar navbar-default" style="background-color: white; border: none;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Rfam logo" src="/static/images/rfam_logo.svg" style="max-height: 40px;">
        </a>
      </div>

      <div class="navbar-rfam">
        <ul class="nav navbar-nav" style="display: inline-flex;">
          <li><a href="/">HOME</a></li>
          <li><a href="/search">SEARCH</a></li>
          <li>
            <div id="divMenuWrapper1" class="divMenuWrapper1">
    <div id="hoverli">
        <div class="lbtn">
            PROJECTS
        </div>
        <div id="actions_menu" class="file_menu">

            <div><a href="/3d">3D FAMILIES</a></div>
            <div><a href="/viruses">VIRUSES</a></div>
            <div><a href="/microrna">MICRORNAs</a></div>
            <div><a href="/rfam20">RFAM'S 20TH</a></div>
        </div>
    </div>
</div>
            
            </li>
          <li><a href="https://ftp.ebi.ac.uk/pub/databases/Rfam">FTP</a></li>
          <li><a href="http://xfam.wordpress.com/tag/rfam/">BLOG</a></li>
          <li><a href="https://docs.rfam.org">HELP</a></li>
        </ul>
        <form id="siteSearchForm" class="navbar-form navbar-right col-md-3 col-sm-12 col-xs-12" style="border-top: none; border-bottom: none;">
          <div class="input-group input-group">
            <input type="text"
                   id="siteSearchField"
                   class="form-control"
                   name="text"
                   autocomplete="off"
                   placeholder="Search Rfam"
                   style="border-color: #734639;">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-primary" style="background-color:#734639;">
                <i class="fa fa-search"></i>
                <span class="hidden-xs-inline">Search</span>
              </button>
            </div><!-- /input-group-btn -->
          </div><!--input-group -->
        </form>
      </div>
    </div>
  </nav>
</div>

<div class="cleaner"><!-- empty --></div>

<script type="text/javascript">
  jQuery(function() {
    jQuery('#siteSearchForm').submit(function(){
      var searchField = jQuery('#siteSearchField');
      if (!searchField.val()) {
        searchField.focus();
        return false;
      }
      window.location = '/search?q=' + searchField.val();
      return false;
    });

    

  });

</script>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    const hoverElement = document.getElementById('hoverli');
    const actionsMenu = document.getElementById('actions_menu');
    
    if (hoverElement && actionsMenu) {
        // Mouse enter event
        hoverElement.addEventListener('mouseenter', function() {
            // Stop any ongoing animation and slide down
            actionsMenu.style.transition = 'height 0.2s ease-out';
            actionsMenu.style.overflow = 'hidden';
            actionsMenu.style.display = 'block';
            
            // Get the natural height
            const naturalHeight = actionsMenu.scrollHeight;
            actionsMenu.style.height = '0px';
            
            // Trigger the animation
            requestAnimationFrame(function() {
                actionsMenu.style.height = naturalHeight + 'px';
            });
        });
        
        // Mouse leave event
        hoverElement.addEventListener('mouseleave', function() {
            // Stop any ongoing animation and slide up
            actionsMenu.style.transition = 'height 0.2s ease-out';
            actionsMenu.style.height = actionsMenu.scrollHeight + 'px';
            
            requestAnimationFrame(function() {
                actionsMenu.style.height = '0px';
            });
            
            // Hide completely after animation
            setTimeout(function() {
                if (actionsMenu.style.height === '0px') {
                    actionsMenu.style.display = 'none';
                }
            }, 200);
        });
    }
});
</script>


<style>
.lbtn
{
    margin-top: 14px;
    display:inline-block;
    cursor:pointer;
    height:20px;  
    font-size:11pt;
    text-align:center;
    line-height:20px;
}

.divMenuWrapper1 > * {
  background: white;
  color: #734639;
  text-decoration: none;
  font-family: Verdana;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  border:0;
}


.divMenuWrapper1
{
    height: 25px;
    width: 130px;
}

.file_menu 
{
    display:none;
    width:130px;
    position:relative;
    z-index:100000;
}

.file_menu div a 
{
    text-decoration:none; 
    padding:5px; 
    display:block;
}

.file_menu div a:hover 
{
    text-decoration:underline;
}
</style>

<style>

#projects {
  width: 100%;
  background: white;
  color: #734639 !important;
  text-decoration: none;
  font-family: Verdana;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  margin-top: 6.5px;
  padding: 10px;
  border:0;
}

#projects {
  &, &::picker(select) {
    appearance: base-select;    
  }
}

#projects option {
  align-content: left;
  display: block;
  white-space: nowrap;
  color: #734639 !important;
  border:0;
}

</style>

[%- # dump out the name of the host that served the file -%]
[%- # <!-- {% c.config.server_name %} / {% c.config.server_pid %} --> -%]

<!-- header end -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk),
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
